<!-- head para PC -->
{% extends "persona/base_persona.html" %}

{% load  static %}

{% block content %}

<div class="grid-container" style="padding: 5em;">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell large-5">
            <h3 class="cell">Personas en la agenda</h3>
            <div id="app">
                <div class="grid-x grid-margin-x">
                    <div class="cell" v-model="kword">
                        <input type="text" v-model="kword" placeholder="buscar...">
                    </div>
                    <div class="cell">
                        {% verbatim %}
                        <ul class="vertical menu">
                            <li v-for="persona in listaPersonas" :key="persona.id">
                                <a href="#">{{ persona.full_name }}</a>
                            </li>
                        </ul>
                        {% endverbatim %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="calendar-header"> 
    <button onclick="prevMonth()">&#9664;</button>
    <span id="current-month"></span>
    <button onclick="nextMonth()">&#9654;</button>
</div>

.calendar-header {
    display: flex;
    justify-content:center;
    width: 100%;
    margin-bottom: 10px;
  }
  .calendar button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 30px;
  }
  
{% endblock content %}